/*Resolucion recomendada 1024 x 768, minima es ancho=255*/
html,body{
    margin:0px;
    background: black;
}

.menu {
    background: #B18904;
}

.contenido {
    background-image: url(muro%20de%20ladrillos.png);
}

.modulo{
    position: relative;
}

.minerva{
    position: relative;
    color: #ffffff;
    text-align: right;
    height: 50px;
    background: black;
}

.derecho{
    position: relative;
    bottom:35px;
}

@media (min-width: 255px) and (max-width: 300px){
    .menu, .minerva {
        top: -185px;
    }
    .modulo{
        top: -87px;
    }
}

@media (min-width: 301px) and (max-width: 350px){
    .menu, .minerva {
        top: -145px;
    }
    .modulo{
        top: -70px;
    }
}

@media (min-width: 351px) and (max-width: 400px){
    .menu, .minerva {
        top: -115px;
    }
    .modulo{
        top: -55px;
    }
}

@media (min-width: 401px) and (max-width: 450px){
    .menu, .minerva {
        top: -80px;
    }
    .modulo{
        top: -37px;
    }
}

@media (min-width: 451px) and (max-width: 500px){
    .menu, .minerva {
        top: -40px;
    }
    .modulo{
        top: -18px;
    }
}

@media (max-width: 500px){
    html,body{
        width: 100%;
    }
    .menu {
        height: 400px;
        width: 100%;
        position: relative;
        display: block;
    }
    .minerva{
        display: block;
    }
    .contenido {
        height: 400px;
        width: 100%;
    }
    .modulo{
        height: 400px;
    }
    .mArriba{
        display: none;
    }
    .derecho{
        width: 80%;
    }
}

@media (min-width: 501px) {
    html,body{
        width: 1024px;
        height: 100%;
    }     
    .menu {
        float: left;
        height: 100.1%;
        width: 220px;
    }
    .contenido {
        position: absolute;
        left: 220px;
    }
    .modulo{
        top: -30px;
    }
    .minerva{
        bottom:50px;
    }
    .mAbajo{
        display: none;
    }
    .derecho{
        right: 45px;
    }
}
@media (min-width: 1020px) and (max-width: 1024px){
    html,body{
        overflow:hidden
    } 
}
@media (min-width: 501px) and (max-width: 1449px){
    .contenido {
        height: 658px;
        width: 804px;
    }
}
/* 1920x1080*/
@media (min-width: 1450px){
    .contenido {
        height: 950px;
        width: 1200px;
    }
}