.video{
    width: 70%;
}
.videoContenedor{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoGrande{
    width: 100%;
    margin: 0%;
}
.videoTitulo{
    background-color: aqua;
    height: 118px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 8px 0px;
}
.videoTitulo img{
    position: relative;
    top: 18px;
}

@media (min-width: 255px) and (max-width: 300px){
    .videoTitulo div{
        font-size: 11px;
    }
}

@media (min-width: 301px) and (max-width: 350px){
    .videoTitulo div{
        top: -15px;
    }
}

@media (min-width: 351px) and (max-width: 500px){
    .videoTitulo div{
         top: -18px;
    }
}

@media (max-width: 500px){
    .videoTitulo img{
        visibility: hidden;
    }
    .videoTitulo div{
        position: relative;
    }
}



@media (min-width: 501px) {
    .videoGrande {
        height: 90%;    
    }
}